/* html,
body {
  height: 100%;
} */
body {
  background-color: Lavender;
}
.container {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-row {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-row button {
  margin-left: 1em;
  height: 2em;
}

#board2 {
  width: 500px;
}

@media (max-width: 600px) {
  #board2 {
    width: 90%;
  }
}
